body {
    font-family: 'Roboto', sans-serif;
}

/* containers */

.alert-container {
    
}

.callout-container {
    
    
  /*  background: url(https://github.com/Code-Institute-Solutions/BootstrapLandingPage/blob/499772497893145df27e05d9e3d92a5e350f2cd5/04-beyond_bootstrap/images/whiskey-background.jpg?raw=true) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.quotes-container {
    
}

.features-container {
    
}